// colors :
$primary-color: #e76f51;
$secondary-color: #3b3735;
$grey-color: #8d8d8d;

$color-bg-1: #faf4f2;
$color-bg-2: #f8e1db;

$color-white: #ffffff;

//size:

$container: 1140px;
$border-radius: 20px;
$gap-vertical: 30px;
$gap-horizontal: 30px;

//fonts:

$archivo: "Archivo", sans-serif;
$roboto: "Roboto", sans-serif;
